.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  height: 300px;
  width: 220px;
  border-radius: 50px 15px;
  line-height: 1.2;
  overflow: hidden;
  font-family: sans-serif;
}

#item-image {
  height: 180px;
  width: 100%;
  object-fit: cover;
}

#item-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 60px;
  width: 100%;
  padding: 5px 8px 0px 8px;
  box-sizing: border-box;
}

#item-title,
#item-capacity {
  margin: 0;
  word-wrap: break-word;
}

#item-title {
  text-align: left;
  flex: 1;
  padding-right: 6px;
}

#item-capacity {
  text-align: right;
  color: #555;
  white-space: nowrap;
}

#amount-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  width: 100%;
  padding: 30px 20px 0 8px;
  box-sizing: border-box;
}

#item-price {
  margin: 0;
  text-align: left;
  color: #3d3d3d;
  font-weight: bold;
}

#qty-changer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

#item-qty{
  width: 25px;
  text-align: center;
}

#increment,
#decrement {
  text-decoration: none;
  color: #000000;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 20px;
  background: none;
  padding: 5px 12px;
  font-size: 0.8em;
  font-weight: bolder;
  transition: all 0.15s ease-in-out;
}

#increment:hover,
#decrement:hover {
  color: #000000;
  border-color: #000000;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.44);
  padding: 8px 12px;
  cursor: pointer;
}

#increment:active,
#decrement:active {
  color: #fff;
  background-color: #000000;
  border-color: #000000;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.44);
  padding: 8px 12px;
  cursor: pointer;
}

#qty-changer > #item-qty {
  border: none;
  border-bottom: 1px solid gray;
}